#shop {
  margin-right: 40px;
  margin-bottom: 60px;
  background: none;
}
body {
  padding-top: 50px;
  background: rgb(248,248,248);
}

/*The browbar is under the title and over the pictures on the homepage*/
#browBar{
  text-align:center;

  margin-bottom: 30px;
}
/*This is for text on photos on the homepage*/
#womanTitle, #manTitle, #kidTitle{
  position: absolute;
  margin: 30px;
  font-size: 120px;
}
/*This is for text on photos on the homepage*/
#women, #men, #kids {
  color: white;
}
/* This is the top title text on homepage*/
.display-1 {
  font-size: 120px;
}
a {
  color: white;
}

a hover {
  color: blue;
}
/*body, html {
margin: 0 -10px 0 -10px;
padding: 0;
color: #37474F;
}*/

.thumb, .thumb1, .thumb2, .thumb3, .thumb4 {
  padding-left:30px;
  margin-top: 20px;
}

img:first {
  margin-top: 80px;
}

h1 {
  background: none;
}

.footer {
  height: 200px;
  background-color: green;
}

/*Product Thumbnail Gallery */
#product1 {
  background: url(../img/dolman_sample.png) no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  /*margin-right: -80px;*/
  height: 100vh;
  width: 100%;
}

#product2 {
  background: url(../img/dolman_sample_blue.png) no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  /*margin-right: -80px;*/
  height: 100vh;
  width: 100%;
  display: none;
}

#product3 {
  background: url(../img/dolman_sample_red.png) no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  /*margin-right: -80px;*/
  height: 100vh;
  width: 100%;
  display: none;
}

#emailDiscount{
  margin: 10px 30%;
}
#cartTitle{
  border-bottom: 2px solid blue;
}
.emptyCart{
  text-align: center;
  margin: 50px 150px;
  float:right;
}
#cartSymbol{
  width:40px;
  float:right;
  margin-right: 20px;
}
.license{
  text-align: center;
  margin-top: 100%;
  margin-bottom: 50px;
}
#priceCalculator{
  background: white;
  margin-right: 20px;
  height:400px;
  width:240px;
  position:fixed;
  border: 2px solid black;
}
#priceCalculator h2{
  background-color: lightblue;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 25px;
}
#priceCalculator p{
  margin:30px 5px;
}
#emailDiscount h3{
  color: red;
}
/*Billing info*/
#billingInfo{
  margin-top: 40px;
}
#addressInfo{
  margin-top: 40px;
}
#creditCardInfo{
  margin-top: 40px;
}
#userInput h3{
  border-bottom: 2px solid blue;
}
.hideUserInput{
  display:none;
}
.userConformation{
  display: none;
}
#purchase{
  margin:0 40%;
}
