#product {
  background: url(../img/dolman_sample.png) no-repeat center center fixed;
  background-size: contain;
  background-position: left top;
  /*margin-right: -80px;*/
  height: 100vh;
  width: 100%;
}
#shop {
  margin-right: 40px;
  margin-bottom: 60px;
  background: none;
}
body {
  padding-top: 50px;
}
/*body, html {
margin: 0 -10px 0 -10px;
padding: 0;
color: #37474F;
}*/

.thumb {
  padding-left:30px;
  margin-top: 20px;
}

img:first {
  margin-top: 80px;
}

h1 {
  background: none;
}

.footer {
  height: 200px;
  background-color: green;
}


/*html {
  background: url(../img/ping-pong.jpg) no-repeat center center fixed;
  background-size: cover;
}*/
